<!-- Gallery inside carousel -->
<div class="tns-carousel-wrapper tns-controls-outside gallery">
  <div class="tns-carousel-inner" data-carousel-options="{
    "nav": false,
    "responsive": {
      "0":{"items":1},
      "576":{
        "items":2,
        "gutter": 20},
      "1200":{
        "items":3,
        "gutter": 30
      }
    }
  }">

    <!-- Item -->
    <div class="gallery">
      <a class="gallery-item rounded" href="path-to-large-image" data-sub-html="<h6 class='text-light'>Gallery image caption</h6>">
        <img src="path-to-thumbnail-image" alt="Gallery thumbnail">
        <span class="gallery-caption">Gallery image caption</span>
      </a>
    </div>

    <!-- Add as many gallery items as you need -->
  </div>
</div>