<!-- Vertical steps -->

<!-- Step -->
<div class="step-vertical">
  <div class="step-line text-primary"></div>
  <div class="step-body">
    <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 1</h4>
    <h3 class="h5 mb-2">Off-Site SEO Analysis</h3>
    <p class="mb-0 text-muted">Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.</p>
  </div>
</div>

<!-- Step -->
<div class="step-vertical">
  <div class="step-line text-primary"></div>
  <div class="step-body">
    <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 2</h4>
    <h3 class="h5 mb-2">Technical SEO Optimizations</h3>
    <p class="mb-0 text-muted">Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin egestas laoreet etiam. Nunc nisl orci auctor et fames.</p>
  </div>
</div>

<!-- Step -->
<div class="step-vertical">
  <div class="step-line text-primary"></div>
  <div class="step-body">
    <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 3</h4>
    <h3 class="h5 mb-2">Usability Check</h3>
    <p class="mb-0 text-muted">Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat egestas facilisi lobortis. Varius praesent pretium in leo, accumsan, in ultricies. </p>
  </div>
</div>

<!-- Step -->
<div class="step-vertical">
  <div class="step-line text-primary"></div>
  <div class="step-body">
    <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 4</h4>
    <h3 class="h5 mb-2">Content Marketing</h3>
    <p class="mb-0 text-muted">Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor. Faucibus in leo, nulla odio nulla imperdiet quis faucibus neque.</p>
  </div>
</div>