<!-- Video button on top of the image -->
<div class="jumbotron position-relative bg-size-cover bg-position-center bg-no-repeat text-center mb-0 py-6" style="background-image: url(path-to-background-image);">
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-50"></div>
  <div class="position-relative fw-medium text-white text-shadow text-center zindex-2 py-6">
    <a class="btn-video btn-video-lg mb-2" href="link-to-youtube/vimeo-video" data-gallery-video data-sub-html="<h6 class='fs-sm text-light'>Video caption</h6>"></a>
    <br>
    <span class="fs-sm text-light">Click me to watch video!</span>
  </div>
</div>