<!-- Post preview: card alt -->
<article class="image-scale card shadow card-hover border-0">
  <a class="image-inner card-img-top" href="#">
    <img src="path-to-image" alt="Blog card image">
  </a>
  <div class="card-body">
    <h3 class="h5 mb-2 pb-1">
      <a class="nav-link" href="#">How to Build Climate Change-Resilient Infrastructure</a>
    </h3>
    <ul class="nav nav-muted mb-2 pb-1">
      <li class="nav-item me-2">
        <a class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal" href="#">
          Industry News
        </a>
        <span class="text-border px-1">|</span>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal" href="#">
          June 24, 2020
        </a>
        <span class="text-border px-1">|</span>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal" href="#">
          <i class="ci-chat mt-n1 me-2 fs-base align-middle"></i>
          4 comments
        </a>
      </li>
    </ul>
    <p class="card-text">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</p>
  </div>
</article>